# Potentially sensitive data
.env

# recyclarr generated configs
servarr/recyclarr/config/cache/
servarr/recyclarr/config/logs/
servarr/recyclarr/config/repositories/
servarr/recyclarr/config/includes/

# VSCode files
.vscode/
.ansible/