# Homarr has some integrations that break with OAuth, like jellyfin
services:
  homarr:
    container_name: homarr
    image: ghcr.io/homarr-labs/homarr:latest
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Optional, only if you want docker integration
      - $DOCKER_DIR/homarr/appdata:/appdata
    ports:
      - '7575:7575'
    networks:
      - traefik-proxy
    environment:
      - SECRET_ENCRYPTION_KEY=$SECRET_ENCRYPTION_KEY
      