---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist

- name: Install packages
  ansible.builtin.package:
    name:
      - fail2ban
      - unattended-upgrades
    state: present