---
- name: Ensure UFW is installed
  apt:
    name: ufw
    state: present

- name: Configure firewall
  block:
    - name: Allow OpenSSH
      community.general.ufw:
        rule: allow
        name: OpenSSH
    - name: Allow other ports
      community.general.ufw:
        rule: allow
        proto: tcp
        port: "{{ item }}"
      loop:
        - http
        - https

- name: Allow trafic from docker
  community.general.ufw:
    rule: allow
    from: 172.17.0.0/16
    proto: tcp

- name: Enable UFW
  community.general.ufw:
    state: enabled
