---
- name: Ensure UFW is installed
  apt:
    name: ufw
    state: present

- name: Configure firewall
  block:
    - name: Allow OpenSSH
      community.general.ufw:
        rule: allow
        name: OpenSSH
    - name: Allow other ports
      community.general.ufw:
        rule: allow
        proto: "{{item.proto}}"
        port: "{{ item.port }}"
      loop:
        - { proto: tcp, port: 80 }
        - { proto: tcp, port: 443 }
        - { proto: udp, port: 53 }
        - { proto: tcp, port: 53 }
        - { proto: udp, port: 67 }
        - { proto: tcp, port: 67 }
        - { proto: udp, port: 123 }
        - { proto: udp, port: 546:547 }

- name: Allow trafic from docker
  community.general.ufw:
    rule: allow
    from: 172.17.0.0/16
    proto: tcp

- name: Enable UFW
  community.general.ufw:
    state: enabled
