---
- name: Ensure UFW is installed
  apt:
    name: ufw
    state: present

- name: Configure firewall
  block:
    - name: Allow OpenSSH
      ufw:
        rule: allow
        name: OpenSSH
    - name: Allow other ports
      ufw:
        rule: allow
        proto: tcp
        port: "{{ item }}"
      loop:
        - http
        - https

- name: Enable UFW
  ufw:
    state: enabled
