# https://www.authelia.com/configuration/miscellaneous/server/
server:
  address: "tcp4://:9091"

theme: dark

# https://www.authelia.com/configuration/miscellaneous/logging/
log:
  level: debug
  # file_path: "/var/log/authelia/authelia.log"
  keep_stdout: true

# https://www.authelia.com/configuration/security/access-control/
access_control:
  default_policy: "deny"
  rules:

    - domain: 'traefik.{{ env "DOMAIN_NAME" }}'
      policy: "two_factor"
    - domain: 'glance.{{ env "DOMAIN_NAME" }}'
      policy: "one_factor"
    # Also links to glance
    - domain: '{{ env "DOMAIN_NAME" }}'
      policy: "one_factor"
    - domain: 'jellyfin.{{ env "DOMAIN_NAME" }}'
      policy: "one_factor"
    - domain: 'jellyseerr.{{ env "DOMAIN_NAME" }}'
      policy: "one_factor"
    - domain: 'stirling.{{ env "DOMAIN_NAME" }}'
      policy: "one_factor"

# https://www.authelia.com/configuration/identity-validation/introduction/
identity_validation:
  elevated_session:
    require_second_factor: true
  reset_password:
    jwt_lifespan: "5 minutes"
    jwt_secret: {{ secret "/secrets/jwt_secret.txt" | mindent 0 "|" | msquote }}

# https://www.authelia.com/configuration/second-factor/time-based-one-time-password/
totp:
  disable: false
  issuer: "authelia.com"
  period: 30
  skew: 1

# https://www.authelia.com/configuration/security/password-policy/
password_policy:
  zxcvbn:
    enabled: true
    min_score: 4

# https://www.authelia.com/configuration/first-factor/introduction/
authentication_backend:
  file:
    path: "/appdata/users.yml"
    password:
      algorithm: "argon2"
      argon2:
        variant: "argon2id"
        iterations: 3
        memory: 65535
        parallelism: 4
        key_length: 32
        salt_length: 16

# https://www.authelia.com/configuration/session/introduction/
session:
  name: "authelia_session"
  secret: {{ secret "/secrets/session_secret.txt" | mindent 0 "|" | msquote }}
  cookies:
    - domain: '{{ env "DOMAIN_NAME" }}'
      authelia_url: 'https://auth.{{ env "DOMAIN_NAME" }}'

# https://www.authelia.com/configuration/security/regulation/
regulation:
  max_retries: 4
  find_time: 120
  ban_time: 300

# https://www.authelia.com/configuration/storage/introduction/
storage:
  encryption_key: {{ secret "/secrets/storage_encryption_key.txt" | mindent 0 "|" | msquote }}
  local:
    path: "/appdata/db.sqlite3"

# https://www.authelia.com/configuration/notifications/introduction/
notifier:
  disable_startup_check: false
  filesystem:
    filename: "/appdata/notification.txt"
