networks:
  default:
    driver: bridge
  # Traefik needs its own network. Apps that want to enable Traefik must use the network
  traefik-proxy:
    name: traefik-proxy
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.90.0/24 # This can't be the same as the LAN subnet. Only used internally by docker
  authelia:
    name: authelia

secrets:
  oauth_secrets:
    file: $DOCKER_SECRETS/oauth_secrets
  cf_dns_api_token:
    file: $DOCKER_SECRETS/cf_dns_api_token

include:
  - arr/compose.yaml
  - downloaders/compose.yaml
  - security/compose.yaml
  - web/compose.yaml

services:
  watchtower: # Keeps containers updated
    image: containrrr/watchtower
    command:
      - --cleanup=true
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
