networks:
  default:
    name: default_network
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

include:
  - arr/compose.yaml
  - downloaders/compose.yaml
  - web/compose.yaml
