---
- name: Create docker directories
  ansible.builtin.file:
    path: /docker/{{ item }}
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    state: directory
  loop:
    - secrets
    - appdata


- name: Create docker directories to avoid permission issues
  ansible.builtin.file:
    path: /docker/appdata/{{ item }}
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    state: directory
  loop:
    - jellyfin/config
    - jellyfin/cache
    - jellyseerr
    - recyclarr
    - huntarr


- name: Create torrent directories
  ansible.builtin.file:
    path: /media-server/torrents/{{ item }}
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    state: directory
  loop:
    - shows-anime
    - movies-anime
    - shows
    - movies
    - prowlarr


- name: Create usenet directories
  ansible.builtin.file:
    path: /media-server/usenet/complete/{{ item }}
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    state: directory
  loop:
    - shows-anime
    - movies-anime
    - shows
    - movies
    - prowlarr


- name: Create media directories
  ansible.builtin.file:
    path: /media-server/media/{{ item }}
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    state: directory
  loop:
    - shows-anime
    - movies-anime
    - shows
    - movies
    - prowlarr
