services:
  authelia:
    image: "authelia/authelia:latest"
    container_name: "authelia"
    user: $PUID:$PGID
    volumes:
      - "$DOCKER_SECRETS:/secrets:ro"
      - "./config:/config"
      # - "./authelia/logs:/var/log/authelia/"
    networks:
      authelia: {}
    labels:
      ## Expose Authelia through Traefik
      traefik.enable: "true"
      traefik.http.routers.authelia.entrypoints: websecure
      traefik.http.routers.authelia.rule: "Host(`auth.$DOMAIN_NAME`)"
      ## Setup Authelia ForwardAuth Middlewares
      traefik.http.middlewares.authelia.forwardAuth.address: "http://authelia:9091/api/authz/forward-auth"
      traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader: "true"
      traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders: "Remote-User,Remote-Groups,Remote-Name,Remote-Email"
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      DOMAIN_NAME: $DOMAIN_NAME
      X_AUTHELIA_CONFIG_FILTERS: "template"

  whoami-secure:
    image: "traefik/whoami"
    restart: "unless-stopped"
    container_name: "whoami-secure"
    labels:
      traefik.enable: "true"
      traefik.http.routers.whoami-secure.rule: "Host(`whoami-secure.$DOMAIN_NAME`)"
      traefik.http.routers.whoami-secure.entrypoints: websecure
      traefik.http.routers.whoami-secure.middlewares: "authelia@docker"
    networks:
      - traefik-proxy
