services:
  authelia:
    image: "authelia/authelia:latest"
    container_name: "authelia"
    user: $PUID:$PGID
    volumes:
      - "$DOCKER_SECRETS:/secrets:ro"
      - "$DOCKER_DIR/authelia/appdata:/appdata"
      - "./config:/config"
    networks:
      - authelia
    labels:
      ## Expose Authelia through Traefik
      traefik.enable: "true"
      traefik.docker.network: "authelia"
      traefik.http.routers.authelia.entrypoints: websecure
      traefik.http.routers.authelia.rule: "Host(`auth.$DOMAIN_NAME`)"
      ## Setup Authelia ForwardAuth Middlewares
      traefik.http.middlewares.authelia.forwardAuth.address: "http://authelia:9091/api/authz/forward-auth"
      traefik.http.middlewares.authelia.forwardAuth.trustForwardHeader: "true"
      traefik.http.middlewares.authelia.forwardAuth.authResponseHeaders: "Remote-User,Remote-Groups,Remote-Name,Remote-Email"
    environment:
      TZ: $TZ
      DOMAIN_NAME: $DOMAIN_NAME
      X_AUTHELIA_CONFIG_FILTERS: "template"
